name: "Integration tests"
on:
  push:
  pull_request:
    branches:
      - master
jobs:
  cks-kube-bench:
    name: Run CKS kube-bench labs
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Stop apparmor
        run: |
          sudo /etc/init.d/apparmor stop
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.19.2'
      - name: Create k8s/kind cluster
        run: |
          go install github.com/k8s-school/ktbx@v1.1.4-rc7
          ktbx create
      - name: Run lab
        run: |
          ./labs/6_security_hardening/kube-bench.sh
  cks-auditlog:
    name: Run CKS auditlog labs
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Stop apparmor
        run: |
          sudo /etc/init.d/apparmor stop
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.19.2'
      - name: Create k8s/kind cluster
        run: |
          go install github.com/k8s-school/ktbx@v1.1.4-rc7
          ktbx create -s
      - name: Run lab
        run: |
          ./labs/1_internals/apiserver-auditlogs.sh
  # TODO Understand why Falco and Seccomp labs are failing in GH Actions, because of seccomp/apparmor issues.
  # cks-falco:
  #   name: Run CKS falco labs
  #   runs-on: ubuntu-24.04
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #     - name: Stop apparmor
  #       run: |
  #         sudo /etc/init.d/apparmor stop
  #     - uses: actions/setup-go@v3
  #       with:
  #         go-version: '^1.19.2'
  #     - name: Create k8s/kind cluster
  #       run: |
  #         go install github.com/k8s-school/ktbx@v1.1.4-rc7
  #         ktbx create
  #     - name: Run lab
  #       run: |
  #         ./labs/5_runtime_security/falco.sh
  # cks-seccomp:
  #   name: Run CKS secomp labs
  #   runs-on: ubuntu-24.04
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #     - name: Stop apparmor
  #       run: |
  #         sudo /etc/init.d/apparmor stop
  #     - uses: actions/setup-go@v3
  #       with:
  #         go-version: '^1.19.2'
  #     - name: Install ktbx
  #       run: |
  #         go install github.com/k8s-school/ktbx@v1.1.4-rc7
  #     - name: Run lab (lab creates k8s cluster)
  #       run: |
  #         ./labs/6_security_hardening/seccomp.sh -s
  cks-supplychain-trivy:
    name: Run CKS supplychain trivy labs
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Stop apparmor
        run: |
          sudo /etc/init.d/apparmor stop
      - name: Run Trivy lab
        run: |
          ./labs/7_supply_chain/1-trivy.sh
      - name: Run Cosign lab
        run: |
          ./labs/7_supply_chain/2-cosign.sh
  main:
    name: Run k8s advanced labs
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Stop apparmor
        run: |
          sudo /etc/init.d/apparmor stop
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.19.2'
      - name: Create k8s/kind cluster
        run: |
          go install github.com/k8s-school/ktbx@v1.1.4-rc7
          ktbx install helm
          ktbx create -c cilium
      - name: Install ink
        run: |
          go install github.com/k8s-school/ink@v0.0.1-rc3
      - name: Run test on internals
        run: |
          ./labs/1_internals/ci.sh
      - name: Run test on authorization
        run: |
          ./labs/2_authorization/ci.sh
      - name: Run test on policies
        run: |
          ./labs/3_policies/ci.sh
      - name: Run test on computational resources
        run: |
          ./labs/4_computational_resources/ci.sh
