name: "Integration tests"
on:
  push:
  pull_request:
    branches:
      - master
jobs:
  main:
    name: Run k8s advanced labs
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Stop apparmor
        run: |
          sudo /etc/init.d/apparmor stop
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.19.2'
      - name: Create k8s/kind cluster
        run: |
          go install github.com/k8s-school/ktbx@v1.1.4-rc7
          ktbx install helm
          ktbx create -c cilium
      - name: Install ink
        run: |
          go install github.com/k8s-school/ink@v0.0.1-rc3
      - name: Run test on internals
        run: |
          ./labs/1_internals/ci.sh
      - name: Run test on authorization
        run: |
          ./labs/2_authorization/ci.sh
      - name: Run test on policies
        run: |
          ./labs/3_policies/ci.sh
      - name: Run test on computational resources
        run: |
          ./labs/4_computational_resources/ci.sh
